<h1>Add couses</h1>
<form action="/add" method="post">
        <div class="input-field">
            <input id="title" name="title" type="text" class="validate" required>
            <label for="title">Название курса</label>
            <span class="helper-text" data-error=Название курса></span>
        </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Цена Курсов</label>
        <span class="helper-text" data-error="Ведите цену"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required >
        <label for="img"> URL картинки</label>
        <span class="helper-text" data-error="Ведите URL картинку "></span>
    </div>

    <button class="btn btn-primary">Добавить курс</button>

</form>