<h1>Course</h1>

{{#if courses}}
    {{#each courses}}
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-image">
                    <img src="{{img}}" alt="title">

                </div>
                <div class="card-content">
                    <span class="card-title">{{title}}</span>
                    <p class="price">{{price}}</p>
                </div>
                <div class="card-action actions" >
                    <a href="/courses/{{id}}" target="_blank">Open course</a>
                    <a href="/courses/{{id}}/edit?allow=true">Redaction course</a>
                    <form action="/card/add" method="post">
                        <input type="hidden" name="id" value="{{id}}">
                        <button  type="submit" class="btn btn-primary">Buy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
{{else}}
    <p>Courses not found</p>
{{/if}}