.nav-wrapper{
    padding: 0 2rem;
}
.price{
    font-size: 2rem;
}
.course{
    width: 100%;
    display:flex ;
    flex-direction: column;
    align-items: center;
}
.course h1 {
    margin-bottom: 2rem;
}
.course img{
    max-width: 400px;
    height: auto;
}
.course .price.big{
    font-size: 2.5rem;
}
.card-action.actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}